{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Matches</h1>
      <form action="/matches" method="post">
         <button type="submit">New Match</button>
      </form>
    </div>
  </div>
</div>
{{end}}
